.container {
    margin: 0 auto;
    max-width: 600px;
    background-color: gray;
    height: 300px;
    color:#f1f1f1;
    border-radius: 20px;
    border:2px solid black;
  }
 
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form input[type="text"] {
    padding: 10px;
    width: 50%;
    margin-right: 10px;
    font-size: 16px;
  }
  
  form select {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  form button {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  li.high {
    background-color: #f44336;
  }
  
  li.medium {
    background-color: #ff9800;
  }
  
  li.low {
    background-color: #4CAF50;
  }
  
  li.checked {
    background-color: #f1f1f1;
  }
  